<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header'); %>

            <main>
                <div>
                    <div class="jumbotron">
                        <h1 class="display-4">Node com EJS!</h1>
                        <p class="lead">Mini projeto simples realizado para aprimorar o conhecimento com arquivos EJS.
                        </p>
                        <hr class="my-4">
                        <p>
                            <%= subtitle %>
                        </p>
                        <ul>
                            <% qualitys.forEach(function(quality) { %>
                                <li>
                                    <strong>
                                        <%= quality.title %>
                                    </strong>
                                    <%= quality.message %>
                                </li>
                                <% }); %>
                        </ul>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Continuar</a>
                        </p>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer'); %>
    </body>

</html>